#logo {
    width: 90px;
    height: 90px;
    padding: 0%;
    border-radius: 50%;
}

header{
    overflow: hidden;    
    width: 100%;
    margin-top:0;
    z-index: 100;    
    background-color: #a1c6e9;
    border-radius: 5px;
    padding: 0px 0px 0px 0px;
}

header a{
    font-family: Arial;
    float: left;
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
}

header a:hover{
    color: #ffffff;
    background-color: #04294d;
}
